terraform-provider-*
dist/
vendor/
bin/
.idea/
.github/
.modules/
.terraform*
terraform.d/
terraform.tfstate
terraform.tfstate.backup
lib/
*.lic
/resources/
coverage.txt
.scannerwork
tfc-testing/.terraform
tfc-testing/terraform.d
tfc-testing/.terraform.lock.hcl
.DS_Store
