---
layout: ""
page_title: "Artifactory Project Provider"
description: |-
  The Artifactory Project provider provides resources to interact with project supported by Artifactory.
---

# Artifactory Project Provider

The [Artifactory](https://jfrog.com/artifactory/) Project provider is used to interact with the project supported by Artifactory. The provider needs to be configured with the proper credentials before it can be used.

Links to documentation for specific resources can be found in the table of contents to the left.

This provider requires access to Artifactory APIs, which are only available in the _licensed_ pro and enterprise editions. You can determine which license you have by accessing the following URL `${host}/artifactory/api/system/licenses/`

You can either access it via api, or web browser - it does require admin level credentials, but it's one of the few APIs that will work without a license (side node: you can also install your license here with a `POST`)

```bash
curl -sL ${host}/projects/api/system/licenses/ | jq .
{
  "type" : "Enterprise Plus Trial",
  "validThrough" : "Jan 29, 2022",
  "licensedTo" : "JFrog Ltd"
}
```

The following 3 license types (`jq .type`) do **NOT** support APIs:
- Community Edition for C/C++
- JCR Edition
- OSS

## Example Usage

{{tffile "examples/full.tf"}}

## Authentication

The Artifactory Project provider supports one type of authentication using Bearer token.

### Bearer Token

Artifactory access tokens may be used via the Authorization header by providing the `access_token` field to the provider block. Getting this value from the environment is supported with the `PROJECT_ACCESS_TOKEN` or `JFROG_ACCESS_TOKEN` environment variable

Usage:
```hcl
# Configure the Artifactory provider
provider "project" {
  url = "projects.site.com/projects"
  access_token = "abc...xy"
}
```

{{ .SchemaMarkdown | trimspace }}
